$white: #ffffffff;
$black-olive: #3b413cff;
$opal: #9db5b2ff;
$light-cyan: #daf0eeff;

$cg-blue: #227c9dff;
$tiffany-blue: #17c3b2ff;
$maximum-yellow-red: #ffcb77ff;
$light-coral: #fe6d73ff;
$ghost-white: #f6f3f7ff;
$spanish-gray: #959595ff;