@import '../../../styles/Colors.scss';

.MyNumber {
	color: $black-olive;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: white;
	border: 2px solid $black-olive;
	.number {
		padding: 7px 10px;
		outline: none;
		text-align: center;
		font-size: 18px;
	}
	.number::-webkit-inner-spin-button {
		display: none;
	}
	.number,
	.numberPlus,
	.numberMinus {
		background-color: white;
		color: $black-olive;
		border: none;
		font-size: 20px;
	}
	.numberPlus {
		border-left: 1px solid $black-olive;
	}
	.numberMinus {
		border-right: 1px solid $black-olive;
	}
	.numberPlus,
	.numberMinus {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 25px;
		cursor: pointer;
		min-width: 30px;
		user-select: none;
	}
}
.MyNumber:hover {
	border: 2px solid $cg-blue;
	.numberPlus {
		border-color: $cg-blue;
	}
	.numberMinus {
		border-color: $cg-blue;
	}
}
